.Autocomplete {
  width: 100%;
  position: relative;
}

.Autocomplete-current {
  position: relative;
}

.Autocomplete--isOpened .Autocomplete-current {
  z-index: 3;
}

.Autocomplete-input {
}

.Autocomplete--size-small .Autocomplete-input {
  height: 40px;
  border-radius: 20px;
}

.Autocomplete-activeOption {
  margin-right: auto;
  font-size: 14px;
}

.Autocomplete-currentIcon {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* options */

.Autocomplete-bottom {
  position: relative;
}

.Autocomplete-optionListHolder {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin-top: 4px;
  background-color: #fff;
  z-index: 2;
  border-radius: 2px;
  box-sizing: border-box;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.Autocomplete-optionList {
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;

  /* Remove if using custom scroll bar */
  overflow-y: auto;
  max-height: 280px;
  pointer-events: none;
}

.Autocomplete--isOpened .Autocomplete-optionList {
  pointer-events: auto;
}

.Autocomplete-option {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border-bottom: 1px solid #f3f3f3;
}

.Autocomplete-option:last-child {
  border-bottom: 0;
}
