.Input {
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  border-radius: 2px;
  font-family: inherit;
  font-size: inherit;
  color: inherit;
  line-height: 20px;
  box-sizing: border-box;
  padding: 16px;
  border: none;
  width: 100%;
  border: 1px solid transparent;

  &::placeholder {
    color: #bbb;
    opacity: 1;
  }

  &--error {
    border-color: #ff0000;
  }
}
