.Button {
  -webkit-appearance: none;
  font-family: inherit;
  font-size: inherit;
  border: none;
  color: inherit;
  line-height: 20px;
  padding: 10px 16px;
  border-radius: 2px;
  background-color: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
  cursor: pointer;

  &:disabled {
    color: #bbb;
    cursor: default;
  }

  &--variant-accent {
    color: #ff9800;
    font-weight: 700;
  }

  &--variant-primary {
    background-color: #ff9800;
    color: #fff;
    font-weight: 700;
  }
}
