.ImageSwitch {
  display: flex;
  margin: -5px;

  @media (max-width: 720px) {
    flex-wrap: wrap;
  }

  &-optionHolder {
    padding: 5px;
    flex: 0 0 auto;
    box-sizing: border-box;

    @media (max-width: 720px) {
      flex: 0 0 50%;
      max-width: 50%;
    }
  }

  &-option {
    -webkit-appearance: none;
    border: none;
    background: none;
    cursor: pointer;
    padding: 0;
    border-radius: 3px;
    overflow: hidden;
    box-sizing: border-box;
    margin: 3px;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
    outline: none;
    transition: box-shadow 0.2s ease-out;

    &:hover {
      box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.2);
    }

    &--active {
      margin: 0;
      border: 3px solid #ff9800;
      border-radius: 6px;
    }
  }

  &-picture {
    margin: -3px;
    vertical-align: middle;

    @media (max-width: 720px) {
      width: 100%;
    }
  }
}
