.App {
  min-height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@media (max-width: 720px) {
  .App {
    display: block;
    height: 100%;
  }
}

.App-container {
  width: 680px;
  max-width: 100%;
  min-height: 420px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  box-sizing: border-box;
}

@media (max-width: 720px) {
  .App-container {
    padding: 32px;
    width: auto;
    max-width: none;
    min-height: 100%;
  }
}

.App-progress {
  flex: 0 0 auto;
  width: 320px;
  display: flex;
  margin: 0 auto 16px;
}

@media (max-width: 720px) {
  .App-progress {
    width: auto;
    margin: 0 0 16px;
  }
}

.App-progressItem {
  margin-right: 8px;
}

.App-progressItem:last-child {
  margin-right: 0;
}

.App-content {
  flex: 1 1 auto;
  display: flex;
  justify-content: center;
}

@media (max-width: 720px) {
  .App-content {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
  }
}
